name: cd

on:
    push:
        branches:
            - main

jobs:
    build:
        runs-on: ubuntu-latest
        permissions:
            contents: write
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: "20.x"

            - name: Install dependencies
              run: npm install

            - name: Run Build
              run: npm run build

            - name: Deploy to gh-pages
              run: |
                git config --global user.name "GitHub Actions"
                git config --global user.email "actions@github.com"
                git checkout gh-pages || git checkout --orphan gh-pages
                git rm -rf .
                git add -A dist/*
                git commit -m "build: PR #${{ github.event.pull_request.number }}"
                git push origin gh-pages --force